
{{#if posts.length}}
<section>
    {{#each posts }}
    <article class="post">
      <div class="title">
        <a href="/posts/{{id}}">
          <h2 id="pt">{{post_title}}</h2>
        </a>
        <span>by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/posts/{{id}}">{{comments.length}} {{format_plural "comment" post.comments.length}}</a></span>
      </div>
      <div class="content">
        <p id="pc">{{post_content}}</p>
      </div>
      <button> <a href="/dashboard/edit/{{id}}" class="edit-post">Update/Delete Post</a></button>
    </article>
    {{/each}}
</section>
{{/if}}
<button id="new-post-btn">+ New Post</button>

<script src="/js/dashboard.js"></script>