{{!-- {{> post-top-section post}} --}}

<article class="post">
  <div class="title">
    <h2>{{post.post_title}}</h2>
    <span>by {{post.user.username}} on
    {{format_date post.created_at}}
   
  </div>
  <div class="content">
    <p>{{post.post_content}}</p>
  </div>
</article>



{{#if loggedIn}}
<form class="comment-form">
    <div class="title">
      <h2>New Comment</h2>
  </div >
  <div class="user-input-field-section">
    <label for="comment" id="comment-label">Comment:</label>
    <textarea class="content-body" name="content-area" id="user-comment-input"></textarea>
  </div>
  <div>
      <p id='show-new-comment' style="display:none">
        {{!-- place holder here for current comment DOM --}}

      </p>
  </div>
  <div>
      <p id='show-new-comment-username' style="display:none">
         ____ {{post.user.username}} ,
        <span id='date'>
          {{!-- place holder here for current user that is commenting DOM --}}
        </span>
      </p>
  <div class="submit-btn">
    <button id="submit-btn">Submit</button>
  </div>
  
  
  </div>
</form>
{{/if}}


{{> comment-info post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}


